body {
  background-color: #f3f3f3;
  font-family: "Pontano Sans", sans-serif;
}
.navBar {
  background-color: rgb(14, 14, 14);
  max-height: 60px;
}
.ultra-hd {
  border: 1px solid black;
  padding: 0 2px;
  font-size: 10px;
}
a {
  display: block;
  font-size: 14px;
}